# yaml-language-server: $schema=https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json

version: 2
final_space: true
console_title_template: '{{ .Shell }} in {{ .Folder }}'

blocks:
  - type: 'prompt'
    alignment: 'left'
    newline: true

    segments:
      - type: 'path'
        style: 'plain'
        template: '{{ .Path }}'
        foreground: 'blue'
        background: 'transparent'
        properties:
          style: 'full'

      - type: 'git'
        style: 'plain'
        template: ' {{ .HEAD }}{{ if or (.Working.Changed) (.Staging.Changed) }}*{{ end }} <cyan>{{ if gt .Behind 0 }}⇣{{ end }}{{ if gt .Ahead 0 }}⇡{{ end }}</>'
        foreground: 'grey'
        background: 'transparent'
        properties:
          branch_icon: ''
          commit_icon: '@'
          fetch_status: true

  - type: 'rprompt'
    overflow: 'hidden'

    segments:
      - type: 'executiontime'
        style: 'plain'
        template: '{{ .FormattedMs }}'
        foreground: 'yellow'
        background: 'transparent'
        properties:
          threshold: 5000

  - type: 'prompt'
    alignment: 'left'
    newline: true

    segments:
      - type: 'text'
        style: 'plain'
        template: '❯'
        foreground_templates:
          - '{{ if gt .Code 0 }}red{{ end }}'
          - '{{ if eq .Code 0 }}magenta{{ end }}'
        background: 'transparent'

transient_prompt:
  template: '❯ '
  foreground_templates:
    - '{{ if gt .Code 0 }}red{{ end }}'
    - '{{ if eq .Code 0 }}magenta{{ end }}'
  background: 'transparent'

secondary_prompt:
  template: '❯❯ '
  foreground: 'magenta'
  background: 'transparent'
